<div>
  <h1>Quote Rate App</h1>
  <p>
    "Words connect to the deepest parts of our souls more than anything else"
  </p>
  <form>
    <label class="label">Author</label>
    <br>
    <input
      type="text" 
      autocomplete="off"
      placeholder="Enter Author's name."
      id="YearField"
      required
    />
    <br>
    <label class="label">User</label>
    <br>
    <input
      type="text"
      autocomplete="off"
      placeholder="Enter user's name"
      id="                                                                     mmYearField"
      required
    />
  </form>
</div>
