<body>
  <body>
  <h1>Quote Hub</h1>
  <p>
    "The ultimate measure of a man is not where he stands in moments of comfort
    and convenience, but where he stands at times of challenge and controversy.
    "
    <br />
    <b><i> _.Martin Luther King</i></b>
  </p>
  <p>
    Get inspired and motivated for the day by the words you are going to read.
  </p>
  <p>
    We all have wise words to share so feel free to share with us afew words of
    encouragement.
  </p>
  <hr>
  <ul>
    <div *ngFor='let Quote of quotes;let i = index'>
      <ul>
      <li>{{Quote.name}} </li>
      <button (click)= 'toggleDetails(i)'class="btn btn-primary">Details</button>
      <div *ngIf ='Quote.showDetails'>
        <app-quotedetail [quote]='Quote'></app-quotedetail>
      </div>
      
</ul>
</div>
</ul>
</body>
   
