div {
    background: url("../../assets/images/cristofer-maximilian-NSKP7Gwa_I0-unsplash.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}