body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  background-size: contain;
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  margin-top: 100px;
  color: white;
  text-shadow: yellow;
}
p {
  text-align: center;
  margin-top: 30px;
  font-style: italic;
}
