<form (ngSubmit)='submitQuote()'#quoteform='ngForm'>
    <div class="form-group" >
        <label for="description" class="text-light">Quote:</label>
        <br>
        <input class="form-control"  type="text" autocomplete="off" name="name" id="name" rows="5"
         required [(ngModel)]="newQuote.name"#name='ngModel'> 
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Enter A Quote</p>
        </div>  
    </div>
    <div class="form-group">
        <label for="author" class="text-light">Author:</label>
        <br>
        <input class="form-control" autocomplete="off" name="Author" id="author" rows="5"
        required [(ngModel)]="newQuote.Author"#Author='ngModel'> 
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Enter The Authors Name</p>
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="text-light">Sumitted By:</label>
        <br>
        <input class="form-control" autocomplete="off" name="User" id="User" rows="5"
         required [(ngModel)]="newQuote.User"#User='ngModel'>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Enter Submitors Name</p>
        </div>
    </div>
    <br>
    <button type="submit" class="btn mt-4">Add Quote</button>
</form>
